/* General */
body
{
    font-family: "Raleway", sans-serif;
    background-color: rgba(244, 246, 245, 1);
    font-weight: 500;
}


/* Versions of navigation bars for different screens */
/* Navigation bar screens narrower than 576px */
@media only screen and (max-width: 576px)
{
    header
    {
        display: flex;
        justify-content: center;
        height: 68px;
    }
    header img
    {
        width: 143px;
    }

    nav
    {
        display: flex;
        justify-content: space-between;
        height: 62px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: rgba(225, 237, 230, 1);
    }
    nav #hamburger_menu
    {
        width: 30px;
    }
    nav #cart
    {
        width: 30px;
    }
    nav #links
    {
        display: none;
    }
}

/* Navigation bar for screen wider than 576px
 and narrower 768px */
@media only screen and (min-width: 576px ) and (max-width: 768px)
{
    #header_and_nav
    {
        background-color: rgba(225, 237, 230, 1);
        font-size: 18px;
    }
    header img
    {
        display: block;
        margin: auto;
        padding: 16px;
    }

    #line
    {
        width: 88.542vw;
        margin: auto;
        background-color: rgba(195, 209, 198, 1);
        height: 1px;
    }

    nav #hamburger_menu
    {
        display: none;
    }
    nav a
    {
        text-decoration: none;
        color: rgba(44, 45, 53, 1);
    }
    nav #links
    {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    nav
    {
        display: flex;
        justify-content: space-between;
        padding: 16px 33px;
    }
}

/* Navigation bar for screens wider than 768px
and narrower than 1440px */
@media only screen and (min-width: 768px) and (max-width: 1440px)
{
    nav #hamburger_menu
    {
        display: none;
    }

    #header_and_nav
    {
        display: flex;
        justify-content:space-between;
        background-color: rgba(225, 237, 230, 1);
    }
    header
    {
        margin-left: 39px;
        margin-top: 33px;
        margin-bottom: 32px;
    }
    #links
    {
        display: flex;
        gap: 60px;
        align-items: center;
        margin-top: 38px;
        margin-bottom: 38px;
    }
    #links a
    {
        text-decoration: none;
        color: rgba(44, 45, 53, 1);
        white-space: nowrap;

    }
    nav
    {
        display: flex;
        gap: 60px;
        margin-right: 39px;

    }
}

/* Navigation for screen wider than 1440px */
@media only screen and (min-width: 1440px)
{
    nav #hamburger_menu
    {
        display: none;
    }

    #header_and_nav
    {
        display: flex;
        justify-content:space-between;
        background-color: rgba(225, 237, 230, 1);
    }
    header
    {
        margin-left: 11.458vw;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    nav
    {
        display: flex;
        gap: 60px;
        align-items: center;
        margin-top: 38px;
        margin-bottom: 38px;
        margin-right: 11.458vw;
    }
    nav #links
    {
        display: flex;
        gap: 60px;
        align-items: center;

    }
    nav #links a
    {
        color: rgba(44, 45, 53, 1);
        text-decoration: none;
        white-space: nowrap;
    }
}


/* About-us top section versions */
/* About-us top section for screens narrower
than 576px */
@media only screen and (max-width: 576px)
{
    #about_us_main
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: 290px;
        color: rgba(44, 45, 53, 1);
    }
    #about_us_main h1
    {
        font-size: 30px;
    }
    #about_us_main p
    {
        font-size: 14px;
        color: rgba(134, 146, 139, 1);
    }
    #about_us_main span
    {
        color: rgba(89, 141, 102, 1);
    }
    #about_us_main a
    {
        color: rgba(89, 141, 102, 1);
        border: 1px solid rgba(89, 141, 102, 1);
        padding: 14px 29px;
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    #about_us_main a:hover
    {
        transition: 0.5s;
        background-color: rgba(89, 141, 102, 1);
        color: rgba(244, 246, 245, 1);
    }
    #about_us_main img
    {
        display: none;
    }
}

/* About-us top section for screens wider
than 576px */
@media only screen and (min-width: 576px)
{
    #about_us_main
    {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    #about_us_main_side_text
    {
        width: 49.479vw;
        margin-top:
    }
    #about_us_main h1
    {
        font-size: 36px;
    }
    #about_us_main a
    {
        color: rgba(89, 141, 102, 1);
        border: 1px solid rgba(89, 141, 102, 1);
        padding: 14px 29px;
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    #about_us_main a:hover
    {
        transition: 0.5s;
        background-color: rgba(89, 141, 102, 1);
        color: rgba(244, 246, 245, 1);
    }


}

